################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/baseball-playground/FileContentIndex/fbc9af85-fc4b-45e2-9da5-137cba69c5a0.vsidx
/.vs/baseball-playground/FileContentIndex/fe4f549b-5107-4806-a960-4a22c9a63af6.vsidx
/.vs/slnx.sqlite
/.vs/baseball-playground/FileContentIndex/af3cfe48-8d02-440d-9f38-be385d83a32c.vsidx
/.vs/baseball-playground/FileContentIndex/f913a619-a4af-4ec3-b789-d565e9739dc4.vsidx
/.vs/baseball-playground/FileContentIndex/335b5a0d-f3ae-4971-b01d-27cd86f76769.vsidx
/.vs/baseball-playground/FileContentIndex/375bc870-1ce6-4b82-9944-41800b1ba8e5.vsidx
/.vs/baseball-playground/FileContentIndex/5984596e-8ef1-4b0c-a4c7-4c6d54c5aa62.vsidx
/.vs/baseball-playground/FileContentIndex/a018f8ec-5db5-499f-acf4-e2d18ad61c99.vsidx
/.vs/baseball-playground/FileContentIndex/cfa8b151-d4f5-47ea-87a0-8b756bed8939.vsidx
/.vs/baseball-playground/FileContentIndex/52025662-f25d-4980-a68e-2c8621b02bcc.vsidx
/.vs/baseball-playground/FileContentIndex/74bfa066-a13c-4428-beea-07d83b7962fd.vsidx
/.vs/baseball-playground/FileContentIndex/b5feee9b-fe30-483f-a759-bbdc6bed800a.vsidx
/.vs/baseball-playground/FileContentIndex/d58c2b46-e74f-4343-8ee2-bf43e6812824.vsidx
/.vs/baseball-playground/FileContentIndex/180f1c2a-492f-412c-b97d-e285b363dd64.vsidx
/.vs/baseball-playground/v17/.wsuo
/.vs/baseball-playground/v17/DocumentLayout.backup.json
/.vs/baseball-playground/v17/DocumentLayout.json
/.vs/baseball-playground/FileContentIndex/69bcce80-10f4-4fce-85be-de340641e73f.vsidx
