################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/baseball-playground/FileContentIndex/fbc9af85-fc4b-45e2-9da5-137cba69c5a0.vsidx
