################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/baseball-playground/FileContentIndex/fbc9af85-fc4b-45e2-9da5-137cba69c5a0.vsidx
/.vs/baseball-playground/FileContentIndex/fe4f549b-5107-4806-a960-4a22c9a63af6.vsidx
/.vs/slnx.sqlite
